{% extends "base.html" %}

{% block page_css %}
<style type="text/css">
#body #bodyHeader {
  font-size: 130%;
  font-weight: bold;
}

#body div {
  font-size: 90%;
}
</style>
{% endblock %}

{% block body %}
<p id="bodyHeader">{{motd}}</p>
<p>The Daybook app was written by {{author}} (send suggestions to {{email}}).</p>
<div>
  <p>
    <span class="bold">Version information:</span>
    <ul>
      <li><span class="bold">API:</span> <span>v{{api_version}}-b{{api_build_number}}</span></li>
      <li><span class="bold">UI:</span> <span>v{{ui_version}}-b{{ui_build_number}})</span></li>
    </ul> 
  </p>
</div>
{% endblock %}
