<!DOCTYPE html>
<html>
<head>
<title>Daybook: {{title}}</title>
<style type="text/css">
  body {
    background-color: white;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
  }

  #body {
    padding: 0.5em 1em;
  }
  
  #header .link {
    float: right;
  }

  #header {
    background-color: aliceblue;
    border-bottom: 1px solid black;
    padding: 0.5em 1em;
  }
  
  #footer {
    bottom: 1em;
    color: grey;
    font-size: 80%;
    font-weight: bold;
    left: 1em;
    position: absolute;
  }

/* page specific */
#body #bodyHeader {
  font-size: 110%;
  font-weight: bold;
}

#body div {
  font-size: 90%;
}
</style>
</head>
<body>
<div id="header">
  <p class="link"><a href="/">home</a></p>
  <h2>{{header}}</h2>
</div>
<div id="body">
  <p id="bodyHeader">{{motd}}</p>
  <p class="bold">Author: <span class="author">{{author}} ({{email}})</span></p>
  <div>(API: <span>v{{api_version}}-b{{api_build_number}}</span> / 
  UI: <span>v{{ui_version}}-b{{ui_build_number}})</span></div>
</div>
<div id="footer">
  env: {{deploy_env}}
</div>
</body>
</html>
