<!DOCTYPE html>
<html>
<head>
<title>Daybook: {{title}}</title>
<style type="text/css">
</style>
</head>
<body>
<div id="header">
<h2>{{header}}</h2>
</div>
<div id="body">
  <p>{{message}}</p>
  <p>Version: <span class="info">{{version}}</span></p>
  <p>Build Number: <span class="info">{{build_number}}</span></p>
  <p>Author: <span class="info">{{author}}</span></p>
  <p>Email Address: <span class="info">{{email}}</span></p>
</div>
</body>
</html>
