<!DOCTYPE html>
<html>
<head>
<title>Daybook: {{title}}</title>
<style type="text/css">
  body {
    background-color: white;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
  }

  #body {
    padding: 0.5em 1em;
  }
  
  #header .link {
    float: right;
  }

  #header {
    background-color: aliceblue;
    border-bottom: 1px solid black;
    padding: 0.5em 1em;
  }
  
  #footer {
    bottom: 1em;
    color: grey;
    font-size: 80%;
    font-weight: bold;
    left: 1em;
    position: absolute;
  }
  
/* page specific */
  #tableHead {
    border-bottom: 1px dotted blue;
  }
  
  #body ul {
      list-style: none;
      padding: .25em .5em;
      width: 80em;
  }
  
  li span {
    display: inline-block;
    width: 5em;
  }

  li span.name {
    width: 10em;
  }

  li span.desc {
    width: 40em;
  }
</style>
</head>
<body>
<div id="header">
  <p class="link"><a href="about">about</a></p>
  <h2>{{header}}</h2>
</div>
<div id="body">
  <p>{{body}}</p>
  <ul>
  <li id="tableHead">
    <span class="name">Name</span>
    <span class="date">Date</span>
    <span class="location">Location</span>
    <span class="amount">Amount</span>
    <span class="desc">Description</span>
  </li>
  {{#items}}
  <li>
    <span class="name">{{name}}</span>
    <span class="date">{{date}}</span>
    <span class="location">{{location}}</span>
    <span class="amount">{{currency}}{{amount}}</span>
    <span class="desc">{{description}}</span>
  </li>
  {{/items}}
  </ul>
</div>
<div id="footer">
  env: {{deploy_env}}
</div>
</body>
</html>